body{
	font-family: verdana sans-serif;
	font-size: 16px;
	color: #333;
}
#section1{
	background-color: rgba(170, 200, 40, 0.6);
	padding:10px;
	margin: 20px 0px;
}

#section2{
	background-color: rgba(40, 170, 200, 0.6);
	padding:10px;
	margin: 20px 0px;
}
#section1:hover, #section2:hover{
	box-shadow: 0px 0px 5px #444;
}

legend{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 18px;
	color: #444;
}

#section1 input{
	width:300px;
	height:20px;
}

#section2 input{
	width: 20px;
	height: 20px;
}

#section1 label{
	display: inline-block;
	padding: 20px;
	margin: 5px 0px 10px 30px;

}

#section2 label{
	display: inline-block;
	padding: 10px;
	margin: 5px 0px 10px 30px;

}
input[type="submit"]{
	float: right;
	padding: 10px;
	font-size: 14px;
	color:#fff;
	background-color: #fe6921;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
}
input[type="submit"]:hover{
	box-shadow: 0px 0px 4px #555;
	background-color: #e8ab2e;
}

