body{
	font-family: "Century Ghothic" ,verdana, sans-serif;


	}

div{
	border: 1px solid black;

}
div::before{
	content: "Du texte ajouté au debut de mon div avec::before";
}
div::after{
		content: url("mon-image.png");
}