body{
	margin: 0px;
	padding: 0px;
}
#div1, #div2, #div3{
	display: inline-block;
	width: 30%;
	height: 100px;
	border: 3px solid #AAA;
	margin: 1%;
}
#div1{
	background-color: orange;
}
#div2{
	background-color: blue;
}
#div3{
	background-color: green;
}
#footer{
	width: 100%;
	height: 200px;
	margin-top: 20px;
	border-top: 1px solid black;
	text-align: center;
	background-color: #CCC;
}
@media screen and (max-width: 780px){
	#div1, #div2, #div3{
		width: 100%;
		border-right: none;
		border-left: none;
		margin-right: 0px;
		margin-left: 0px;

	}
	#footer{
		display: none;
	}
}
@media screen and (orientation:landscape){}