body{
	font-family: "Century Ghothic" ,verdana, sans-serif;


	}
	table{
		border-collapse: collapse;
	}

td,th{
	border:1px solid black;
	padding: 10px;

}
th{

	font-weight:normal;
}

tr:nth-child(even){
	background-color: #EEE;
}
tr:nth-child(odd){
	background-color: #CCC;
}
thead th,tfoot td{
		background-color: RGB(110,200,40);
		color: #FFF;
		text-transform: uppercase;

}